
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h3 class=" card-title">Thêm Giao Dịch</h3>
        </div>
        <div class=" card-body">
          <div class="row">
            <div class="col-md-4 px-md-1">
              <div class="form-group" style="padding-left: 20px;">
                <label for="25px" style="color: white;">Ngày/Tháng</label>
                <input placeholder="Ngày giao dịch" type="date" value="" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group" style="padding-left: 20px;">
                <label for="25px" style="color: white;">Nội dung Kế hoạch</label>
                <input placeholder="Nhập loại giao dịch" type="text" value="" class="form-control">
              </div>
            </div>

            <div class="col-md-2 px-md-1">
              <div class=" card-footer" style="padding-top: 20px;">
                <input class=" btn btn-fill btn-danger" type="submit" value="Submit">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">THÔNG TIN CÁC KẾ HOẠCH (DỮ LIỆU GIẢ ĐỊNH)</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="" class="table tablesorter">
                      <thead class="text-primary">
                        <tr>
                          <th>Ngày tháng</th>
                          <th>Nội dung</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>16-04-2020</td>
                          <td>Sinh nhật Mẹ</td>
                          <td class=" td-actions text-right">
                            <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                              <i class=" tim-icons icon-pencil"> </i>
                            </button>
                          </td>
                        </tr>

                        <tr>
                          <td>30-04-2020</td>
                          <td>Đi du lịch với Gia đình</td>
                          <td class=" td-actions text-right">
                            <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                              <i class=" tim-icons icon-pencil"> </i>
                            </button>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
