
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h2 class=" typography-liney">Giới Thiệu</h2>vscód
        </div>
        <div class=" card-body">
          <blockquote>
            <p class=" blockquote blockquote-danger">
              Nhóm Đề Tài : Quản Lí Chi Tiêu <br />

              <br />

              <small> - Nhóm Đề Tài : Quản Lí Chi Tiêu - </small><br />
              <small> __________________________________ </small><br />
              <small> *** THÔNG TIN NHÓM *** </small><br />
              <small> 1.    1751012076 - Vũ Tuấn Trường   - 1751012076truong@ou.edu.vn </small><br />
              <small> 2.    1751012041 - Phạm Tuấn Minh   - 1751012041minh@ou.edu.vn </small><br />
              <small> 3.    1751012018 - Võ Đức Hiên      - 1751012018hien@ou.edu.vn </small><br />
              <small> 4.    1751012025 - Nguyễn Văn Hoàng - 1751012025hoang@ou.edu.vn </small><br />
              <small> 5.    1751012093 - Trần Thị Thảo Nguyên - 1751012093nguyen@ou.edu.vn </small><br />

            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
