
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h3 class=" card-title">Thêm Giao Dịch</h3>
        </div>
        <div class=" card-body">
          <div class="row">
            <div class="col-md-4 px-md-1">
              <div class="form-group" style="padding-left: 20px;">
                <label for="25px" style="color: white;">Ngày giao dịch</label>
                <input placeholder="Ngày giao dịch" type="date" value="" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group" style="padding-left: 20px;">
                <label for="25px" style="color: white;">Loại giao dịch</label>
                <input placeholder="Nhập loại giao dịch" type="text" value="" class="form-control">
              </div>
            </div>
            <div class="col-md-2 px-md-1">
              <div class="form-group" style="padding-left: 20px;">
                <label for="25px" style="color: white;">Số Tiền</label>
                <input placeholder="Nhập số tiền" type="number" value="" class="form-control">
              </div>
            </div>
            <div class="col-md-2 px-md-1">
              <div class=" card-footer" style="padding-top: 20px;">
                <input class=" btn btn-fill btn-danger" type="submit" value="Submit">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">GIAO DỊCH GẦN ĐÂY (DỮ LIỆU GIẢ ĐỊNH)</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="" class="table tablesorter">
                      <thead class="text-primary">
                        <tr>
                          <th>Nội dung</th>
                          <th>Loại giao dịch</th>
                          <th>Ngày tháng</th>
                          <th class="text-center">Số tiền</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Đi Siêu thị</td>
                          <td>CHI</td>
                          <td>02-04-2020</td>
                          <td class="text-center">850.000 VND</td>
                        </tr>

                        <tr>
                          <td>Thưởng công</td>
                          <td>THU</td>
                          <td>02-04-2020</td>
                          <td class="text-center">500.000 VND</td>
                        </tr>
                        <tr>
                          <td>Tiền nhà</td>
                          <td>CHI</td>
                          <td>02-04-2020</td>
                          <td class="text-center">2.000.000 VND</td>
                        </tr>
                        <tr>
                          <td>Lương tháng</td>
                          <td>THU</td>
                          <td>01-04-2020</td>
                          <td class="text-center">15.000.000 VND</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
